<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title='Witaj w Skleppiku')"></head>
<body>
<header th:replace="fragments :: header"></header>
<main>
    <h2>Lista produktów</h2>

    <ul th:remove="all-but-first">
        <li th:each="product: ${products}">
            <a href="#"
               th:href="@{|/product?id=${product.id}|}"
               th:text="|${product.name} ${product.price}zł|">
                Telewizor 2499zł
            </a>
        </li>
        <li>
            <a href="#">
                Radio 999zł
            </a>
        </li>
        <li>
            <a href="#">
                Smartfon 1799zł
            </a>
        </li>
    </ul>
</main>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>
