<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title=|${product.name} w Skleppiku|)"></head>
<body>
<header th:replace="fragments :: header"></header>
<main>
    <h2>Informacje o produkcie</h2>
    <p th:text="|Nazwa: ${product.name}|">Nazwa: Telewizor</p>
    <p>
        <i class="fas fa-tv fa-10x product-icon" th:class="|fas fa-10x product-icon fa-${product.icon}|"></i>
    </p>
    <p th:text="|Cena: ${product.price}zł|">Cena: 2499zł</p>
    <p th:text="|Opis: ${product.description}|">
        Opis: Znakomity telewizor Oled z dźwiękiem przestrzennym i niesamowitymi kolorami
    </p>
</main>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>
