.container {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    align-items: center;
}

.lock-icon {
    display: block;
}

.login-header,
.lock-icon,
.form-item {
    text-align: center;
}

.form-item {
    margin: 4px 0;
    width: 100%;
}

.scaled-image {
    max-width: 100%;
}
