<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wyrażenia selekcji</title>
    <style>
        table, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Sklep</h1>
    <h2>Lista produktów</h2>
    <table>
        <thead>
        <tr>
            <td>Id</td>
            <td>Nazwa</td>
            <td>Producent</td>
            <td>Cena</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product, status: ${products}" th:object="${product}">
            <td th:text="${status.count}">1</td>
            <td th:text="*{name}">Chipsy paprykowe</td>
            <td th:text="*{producer}">Pan Chrupek</td>
            <td th:text="*{price + 'zł'}">1.9</td>
        </tr>
        </tbody>
    </table>
</body>
</html>
